.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 35px;
  background-color: $btn-bg-primary;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: $txt-primary-light;
  border-radius: 5px;
  z-index: 10;
  border: 0;
  cursor: pointer;

  &--nav {
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:focus {
      outline: 2px solid black;
    }
  }

  &--desktop {
    @include medium {
      height: 69px;
      font-size: 2rem;
      line-height: 2.6rem;
    }
  }

  &__container {
    align-self: center;
    margin-top: 8px;
    @include medium {
      align-self: flex-start;
      margin-top: 24px;
      margin-bottom: 38px;
    }
    @include max {
      margin-bottom: 0;
    }
  }

  &--content {
    display: none;
    position: fixed;
    width: 182px;
    height: 30px;
    background-color: #db8876;
    text-align: center;
    padding-top: 3px;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);

    a {
      text-decoration: none;
      color: black;
    }
  }
}
