.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 35px;
  background-color: $btn-bg-primary;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: $txt-primary-light;
  border-radius: 5px;
  z-index: 10;
  border: 0;

  &--desktop {
    height: 69px;
    font-size: 2rem;
    line-height: 2.6rem;
  }
  &__container {
    margin: 10px auto 0 auto;
  }
}
