.informations {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include medium {
    justify-content: space-between;
    align-items: center;
    background-color: $info_bkg_color;
    border-radius: 5px;
  }
  @include max {
    justify-content: space-around;
    height: 313px;
  }

  &__container {
    width: 230px;
    @include medium {
      width: 33vw;
      position: relative;
    }
  }

  &__header {
    font-size: 3.6rem;
    line-height: 4.7rem;
    color: $txt-primary-dark;
    @include medium {
      font-size: 6.4rem;
      line-height: 8.3rem;
    }
  }

  &__geo {
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: $txt-secondary-cl;
    margin-bottom: 4px;
    @include medium {
      font-size: 2.4rem;
      line-height: 3.1rem;
    }
  }

  &__tagline {
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: $txt-price-card-color;
    margin-bottom: 7px;
    @include medium {
      font-size: 1.8rem;
      line-height: 2.3rem;
    }
  }

  &__contact {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    @include medium {
      position: absolute;
      top: 0;
      left: 100%;
      @include max {
        left: 65%;
      }
      transform: none;
    }
  }

  &__contImg {
    width: 100px;
    height: 100px;
    @include medium {
      width: 200px;
      height: 200px;
    }
  }

  &__img {
    width: 100px;
    height: 100px;
    @include medium {
      width: 200px;
      height: 200px;
    }
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0px 2px 8px rgb(216, 216, 216);
  }
}
