.modal {
  display: none;
  position: fixed;
  background-color: $modal_color;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  border-radius: 5px;
  overflow: auto;

  @include medium {
    width: 670px;
    height: 800px;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -335px;
    mix-blend-mode: normal;
    filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
  }

  @include max {
    width: 670px;
    height: 900px;
    top: 50%;
    left: 50%;
    margin-top: -450px;
    margin-left: -335px;
  }

  &__body {
    width: 90%;
    align-items: center;
    margin: 0 auto;
  }

  &__header {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 47px;
    @include medium {
      font-size: 6.6rem;
      line-height: 8.3rem;
    }
  }
}

.close {
  display: block;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 32px;
  height: 32px;
  @include max {
    width: 64px;
    height: 64px;
  }
  opacity: 1;
  cursor: pointer;
  transform: scale(0.9);
  z-index: 2;

  &:before {
    @include close;
    transform: rotate(45deg);
  }

  &:after {
    @include close;
    transform: rotate(-45deg);
  }
}
