html {
  font-family: $font-primary;
  font-size: 62.5%;
}

body {
  width: 90%;
  max-width: map-get($breakpoints, max);
  margin: 3rem auto 0 auto;
}

main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  @include large {
    justify-content: space-between;
  }
  margin-top: 30px;
}
