/*Font variables*/
$font-primary: "DM Sans", sans-serif;

/*button color*/
$btn-bg-primary: #901c1c;
$btn-bg-secondary: #db8876;

/*text color*/
$txt-primary-light: #fff;
$txt-primary-dark: #d3573c;
$txt-primary-darken: $btn-bg-primary;
$txt-secondary-light: #525252;
$txt-secondary-dark: #000;
$txt-secondary-cl: $btn-bg-primary;
$label-color: #312e2e;

/*modal color*/
$modal_color: $btn-bg-secondary;

/*recall color*/
$recall-color: $btn-bg-secondary;

/*card price color*/
$txt-price-card-color: #757575;

/*Backgroung color of section information desktop*/
$info_bkg_color: #fafafa;

//animation variable
$modal-anim-duration: 0.8s;

/*breakpoints*/
$breakpoints: (
  medium: 950px,
  max: 1240px,
);
